:ruby
  style = {
    "stroke" => "#333",
    "stroke-width" => "10",
    "stroke-linecap" => "round",
    "stroke-linejoin" => "round",
    "fill" => "none"
  }

!!! XML
%svg(xmlns="http://www.w3.org/2000/svg" width="100" height="100")
  %path{style}(d="M50 25 L50 80")
  %path{style}(d="M30 45 L50 25 L70 45")
