!!! XML
%svg(xmlns="http://www.w3.org/2000/svg" width="100" height="100")
  %line(x1="50" y1="15" x2="50" y2="65" fill="none" stroke="#333" stroke-width="10")
  %rect(x="45" y="75" width="10" height="10" fill="#333")
