!!! XML
%svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100" height="100")
  %desc&= DESC
  %defs
    %circle(id="dot" cx="35" cy="50" r="6" fill="#333")
  %g
    %animateTransform(attributeName="transform" type="rotate" values="0 50 50;360 50 50" dur="2000ms" repeatCount="indefinite")
    %use(xlink:href="#dot" transform="rotate(0 50 50)")
    %use(xlink:href="#dot" transform="rotate(120 50 50)")
    %use(xlink:href="#dot" transform="rotate(240 50 50)")
