:ruby
  style = {
    "fill" => "none",
    "stroke" => "#333",
    "stroke-width" => "10"
  }

!!! XML
%svg(xmlns="http://www.w3.org/2000/svg" width="100" height="100")
  %circle{style}(cx="45" cy="45" r="20")
  %line{style}(x1="60" y1="60" x2="80" y2="80" stroke-linecap="round")
