:ruby
  star = {
    "fill" => "#333",
    "stroke" => "#333",
    "stroke-width" => (10 / 0.7).to_s,
    "stroke-linecap" => "round",
    "stroke-linejoin" => "round"
  }

  star["d"] = [
    "M50 15",
    "L40 40 L15 45 L35 60 L25 85",
    "L50 70",
    "L75 85 L65 60 L85 45 L60 40",
    "z"
  ].join(" ")

  star["transform"] =
    "matrix(0.7, 0, 0, 0.7, #{-50 * (0.7 - 1)}, #{-50 * (0.7 - 1)})"

!!! XML
%svg(xmlns="http://www.w3.org/2000/svg" width="100" height="100")
  %desc&= DESC
  %path{star}
